.article {
  h2 {
    font-size: 36px;
    line-height: 48px;
    margin: 50px 0 14px -1px;
    font-weight: normal;
  }

  p {
    font-size: 17px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    letter-spacing: 0.04em;
    line-height: 1.8;
  }

  code {
    font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;
    margin-right: .1em;
    margin-left: .1em;
    padding: .2em .4em;
    color: #02c897;
    border-radius: 3px;
    background: #ececec;
  }

  pre {
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-left: 2px solid #00a0e8;
    border-radius: 0;
    background: #f6f6f6;
    line-height: 1.6;
    font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;

    code {
      display: inline-block;
      padding: 10px 20px 5px;
      background: transparent;
      overflow-x: auto;
      word-wrap: normal;
      white-space: pre;
      -webkit-overflow-scrolling: touch;
      color: #444;
    }
  }

  blockquote {
    border-left: .3rem solid #d1d1d1;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 1.5rem;
  }
}
